<div class="header">
  <!-- Icon Section -->
  <a href="./index.html" class="logo-art">@<br>,.ohum0o.,<br>ar<br>00t<br>0  0<br>0   0<br></a>

  <!-- Navigation Section -->
  <nav class="navbar">
      <div class="nav-section">
          <a href="./about.html" class="nav-btn"
            data-lang-en="About"
            data-lang-fr="À propos">
          </a>
          <a href="./resources.html" class="nav-btn"
            data-lang-en="Resources"
            data-lang-fr="Ressources">
          </a>
          <a href="#" class="nav-btn special-font" 
            data-lang-en="Shop"
            data-lang-fr="Boutique">
          </a>
      </div>
      <div class="nav-section primary">
          <a href="http://mnhir.app" target="_blank" class="nav-btn primary">Menhir <i class="fa-solid fa-right-to-bracket"></i></a>
      </div>
  </nav>

  <!-- Parameters Section -->
  <div class="parameters">
      <div class="footer-links">
        <a href="#" class="footer-btn"><i class="fa-solid fa-circle-half-stroke"></i></a>
      </div>
      <div class="footer-links">
        <a href="#" class="footer-btn">EN</a>
        <a href="#" class="footer-btn">FR</a>
      </div>
  </div>
</div>
